<ion-view style="" id="page3" title="Search" hide-back-button="true">
    <ion-content class="has-header" padding="true">
        <form style="" class="list">
            <label style="" name="searchfield" class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input placeholder="Search" type="search">
            </label>
            <label style="" name="maincat" class="item item-select">
                <span class="input-label">Main Category</span>
                <select>
                    <option>One</option>
                    <option>Two</option>
                    <option>Three</option>
                    <option>All</option>
                </select>
            </label>
        </form>
        <button class="button button-positive  button-block" id="search-button1">Search</button>
    </ion-content>
</ion-view>